# Игнорировать всё
*
!*/
__*

# Разрешить конкретные файлы/расширения (глобально)
!*.py
!*.yml
!*.sh
!*.rst
!*.md
!*.txt
!*.toml
!*.ipynb
!*.csv

# Разрешить специфичные файлы (полные пути)
!LICENSE
!.gitignore
!Makefile

# Разрешить __init__.py в любых подпапках
!*/__init__.py

# Явно разрешить data.csv в model/
!/model/data.csv